
.label {
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.meat-probe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
}

#number1, #number2 {
  font-weight: bold;
  font-size: 36px;
  margin-left: 10px;
}