<!DOCTYPE html>
<html>
  <head>
    <title>My App</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <h1>My App</h1>
    <p>The current numbers are: <span id="number1"></span> and <span id="number2"></span></p>
    
    <script>
        var eventSource = new EventSource('/send_numbers');
        eventSource.onmessage = function(event) {
          if (event.data) {
          var numbers = event.data.split(",");
          console.log(event.data)
          $("#number1").text(numbers[0]);
          $("#number2").text(numbers[1]);
        }
        };
    </script>
  </body>
</html>